.field {
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
}

.point {
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: darkblue;
}

.controls {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.button {
    padding: 5px;
    margin-right: 10px;
    background-color:darkgreen;
    color: white;
    cursor: pointer;
}

.button:disabled {
    background-color: grey;
    cursor: default;
}